.wrapper {
    max-height: 1200px;
    padding: 0 120px;
    margin-top: 180px;
    margin-bottom: -390px;
    display: flex;
    z-index: 2;
    @media(max-width: 1024px) {
        max-height: none;
        padding: 0 20px;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        background: url(../../public/right-blob.png);
        background-size: 536px;
        background-repeat: no-repeat;
        background-position: -100px 120px;
        padding-bottom: 200px;
    }
    @media(max-width: 767px) {
        margin-top: 80px;
        width: 100%;
        background: url(../../public/right-blob.png);
        background-size: 328px;
        background-repeat: no-repeat;
        background-position: 100px 200px;
        padding-bottom: 200px;
    }

    .blob {
        position: relative;
        left: -80px;
        z-index: 1;
        @media(max-width: 1024px) {
            width: 477px;
            height: 535px;
        }
    }

    .contentContainer {
        display: flex;
        @media(max-width: 767px) {
            flex-direction: column-reverse;
        }
        div {
            &:first-of-type {
                width: 60%;
                @media(max-width: 767px) {
                    width: 100%;
                }
            }
            &:nth-child(2) {
                width: 40%;
                @media(max-width: 767px) {
                    width: 100%;
                }
            }
        }
        p {
            font-size: 24px;
            line-height: 33px;
            @media(max-width: 767px) {
                font-size: 20px;
                line-height: 27px;
            }
        }
    }

    .imageContainer {
        margin-top: 50px;
        position: relative;
        z-index: 5;
        display: flex;
        gap: 15px;
        p {
            color: #1C272B;
            font-size: 18px;
        }
    }

    .contactImage {
        @media(max-width: 1024px) {
            width: 191px;
            height: 281px;
            z-index: 2;
        }
    }


    .leftSection {
        width: 40%;
        .imageWithText{
            display: flex;
            position: relative;
            left: -80px;
            top: -74%;
            z-index: 2;
            gap: 20px;
            @media(max-width: 1024px) {
                top: -50%;
            }
        }

        .textOverImage {
            p {
                &:first-child {
                    font-weight: 600;
                }
                font-size: 36px;
                font-weight: 300;
                color: #1C272B;
            }
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    .rightSection {
        display: flex;
        flex-direction: column;
        width: 60%;
        padding-left: 180px;
        gap: 45px;
        h2 {
            margin-left: -80px;
            text-align: right;
        }
    }

    h2 {
        @media(max-width: 767px) {
            text-align: right;
            margin-bottom: 20px;
        }
    }

    p {
        color: white;
        font-size: 36px;
        line-height: 49px;
        font-weight: 300;
    }
}