.sectionWrapper {



    padding: 0 0 0 120px;
    
    @media(max-width: 1024px) {
                padding: 190px 20px;
            }

    @media(max-width: 767px) {
                padding:50px 16px;
            }

    h2 {
        color: #FBBD40;
        margin-bottom: 60px;
    }

    p {
        color: #fff;
        font-family: Avenir, sans-serif;
        font-size: 36px;
        line-height: 49px;
        font-weight: 300;
    }

    .contentContainer {
        display: flex;
        position: relative;

        @media(max-width: 1024px) {
            flex-direction: column-reverse;   
        }
   

        .textContainer, .imageContainer {
            @media(max-width: 1024px) {
                width: 100%;
            }
        }

        .imageContainer {
            @media(max-width: 1024px) {
                display: flex;
                justify-content: end;
                margin-bottom: 150px;
            }
            @media(max-width: 767px) {
                width: 262px;
                height: 171px;
                margin-bottom: 30px;
            }
            img {
                @media(max-width: 767px) {
                    margin-right: -100px;
                }
            }
            
        }

        .blob {
            position: relative;
            bottom:120px;
            left: -90px;
            @media(max-width: 1024px) {
                top: 200px; 
                left: -600px;
            }
            @media(max-width: 767px) {
                width: 60px;
                height: 60px;
                top: 110px;
                left: -200px;
            }
        }
        
        .officeImage {
            @media(max-width: 1600px) {
                width: 700px;
                object-fit: cover;
            }
            @media(max-width: 1024px) {
                position: relative;
                width: 543px;
                height: 355px;
                object-fit: cover;
            }
            @media(max-width: 767px) {
                position: relative;
                width: 262px;
                height: 171px;
                object-fit: cover;
            }
        }
        p {
            margin-right: 80px;
            @media(max-width: 767px) {
                font-size: 18px;
                line-height: 25px;
                margin-right: 0;
            }
        }
        img {
            margin-right: -80px;
        }
    }
}
