.main {
    position: relative;
}

.sectionOneTwoBackgrounds {
    background-image: 
        url(../public/background-blob.png), 
        url(../public/line-left.png), 
        url(../public/blur.png),
        url(../public/blob-right.png);
    background-position: 
        -300px -400px, 
        -560px -30px, 
        700px 200px,
        110% 100%;
    background-size: 
        cover, 
        1500px, 
        auto,
        580px;
    background-repeat: 
        no-repeat, 
        no-repeat,
        no-repeat,
        no-repeat;
}