.navigation {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    .img {
        padding: 30px;
    }

    nav {
    }

    ul {
        border-radius: 0 0 0 90px;
        padding: 30px 30px 30px 90px;
        background-color: #FBBD40;
        display: flex;
        list-style: none;
        li {
            color: #fff;
            font-family: Avenir;
            font-size: 36px;
            padding-right: 20px;
            svg {
                padding-left: 10px;
            }
        }
    }



}